# Unity generated
Library/
Temp/
Obj/
Logs/
UserSettings/

# Unity cache
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# JetBrains
.idea/
*.user

# Crashlytics
crashlytics-build.properties
